<!DOCTYPE html>
<html>
<head>
  <title>Canvas Game Test</title>
  <link rel="stylesheet" href="css/GameTest.css" type="text/css">
</head>
<body>
  <div class="wrapper">
    <div id="menu" class="main">
      <div id="main">
        <h1>Canvas Test</h1>
        <ul>
          <li><a href="#" class="button play">Start Game</a></li>
          <li><a href="#" class="button credits">Credits</a></li>
        </ul>
      </div>
    </div>
    <canvas id="gameCanvas" width="800" height="480">
      <p>You're browser does not support the required functionality to play this game.</p>
      <p>Please update to a modern browser such as <a href="www.google.com/chrome/‎">Google Chrome</a> to play.</p>
    </canvas>
  </div>
  <div>
    <img src="BlueSky.png" alt"An image here">
  </div>
  <script type="text/javascript" src="GameTest.js"></script>
</body>
</html>
